body {
  display: flex;
  font-family: sans-serif;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  background-image: url(../images/pexels-monstera-6289029.jpg);
  background-size: contain;

  .outer {
    background-color: floralwhite;
    border-radius: 1rem;
    padding: 1em;
    width: 80%;
    display: flex;
    flex-direction: column;

    &--gs,
    &--additions,
    &--deductions,
    &--gender,
    &--dependants {
    //   border: 3px solid green;
      margin: 1rem 0rem;;

      input {
        width: 100%;
      }

      #man, #woman {
        width: 2%;
      }
    }
  }

  #submit {
    background-color: rgb(126, 126, 255);
    border: none;
    border-radius: 1rem;
    padding: 0.5rem;
    margin: 1em;
  }
}
